.DS_Store
*.pyc
.scon*
_build.*
config.log
bin
tests/R11.yaml
ups/*.cfgc
python/lsst/obs/lsst/version.py
.coverage
.pytest_cache
tests/.tests
pytest_session.txt
auxTel/CALIB/calibRegistry.sqlite3
auxTel/CALIB/defects/
